<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    <import resource="events.xml"/>-->

<!--    <bean id="motivationEventDao" class="ru.inspired.MotivationEventSimpleDao">-->
<!--        <constructor-arg name="events">-->
<!--            <ref bean="events"/>-->
<!--        </constructor-arg>-->
<!--    </bean>-->

    <bean id="motivationEventDao" class="ru.inspired.MotivationEventSimpleDao"/>

    <bean id="calc" class="ru.inspired.MotivationScoreCalc">
        <constructor-arg name="initialScore" value="0"/>
    </bean>

    <bean id="dailyLogProcessor" class="ru.inspired.DailyLogFileProcessor">
        <constructor-arg name="motivationEventDao" ref="motivationEventDao"/>
    </bean>

    <bean id = "motivationChecker" name="motivationChecker" class="ru.inspired.MotivationEventsChecker">
        <constructor-arg name="motivationEventDao" ref="motivationEventDao"/>
        <constructor-arg name="logProcessor" ref="dailyLogProcessor"/>
        <constructor-arg name="calc" ref="calc"/>
    </bean>


</beans>
