<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="event1"  name="event1" class="ru.inspired.model.MotivationEvent">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="description" value="Сделана утренняя пробежка"/>
        <constructor-arg name="fee" value="10"/>
        <constructor-arg name="bonus" value="10"/>
    </bean>
    <bean id="event2"  name="event2" class="ru.inspired.model.MotivationEvent">
        <constructor-arg name="id" value="2"/>
        <constructor-arg name="description" value="Вечером сходил в тренажерный зал"/>
        <constructor-arg name="fee" value="0"/>
        <constructor-arg name="bonus" value="5"/>
    </bean>
    <bean id="event3"   name="event3" class="ru.inspired.model.MotivationEvent">
        <constructor-arg name="id" value="3"/>
        <constructor-arg name="description" value="Своевременно сдал ДЗ"/>
        <constructor-arg name="fee" value="5"/>
        <constructor-arg name="bonus" value="10"/>
    </bean>

    <bean id="events" name="events" class="java.util.ArrayList">
        <constructor-arg>
            <list>
                <ref bean="event1" />
                <ref bean="event2" />
                <ref bean="event3" />
            </list>
        </constructor-arg>
    </bean>
</beans>