<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
    <link rel="stylesheet" th:href="@{styles.css}" type="text/css"/>
</head>
<body>
<h1>Создание заметок</h1>
                    <form th:action="@{/index}" method="post">
                        <input type="text" name="text" placeholder="Текст для заметок">
                        <input type="submit" value="Добавить заметку">
                    </form>
    <button type = "button">
    <a href = "/notesThymeleaf">Показать записки</a>
    </button>
</body>
</html>