<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
<h1>Заметки</h1>
<form th:action="@{notes}" method="post">
    <input type="text" name="text" placeholder="Текст для заметок" required>
    <input type="submit" value="Добавить заметку">
</form>
<h2>Список заметок:</h2>
<table>
    <tr>
        <th>Text notes</th>
        <th>Data notes</th>
    </tr>
        <tr th:each="note : ${NotesController.notes}">
            <td th:text="${note.getText()}"></td>
        </tr>
</table>

</body>
</html>